@import "tailwindcss";

:root {
}

@theme inline {
}

@media (prefers-color-scheme: dark) {
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 1024px;
}

html, body {
  overflow-x: auto;
}
