@import "tailwindcss";

:root {
}

@theme inline {
}

@media (prefers-color-scheme: dark) {
}

html {
  min-width: 1024px;
  overflow-x: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 1024px;
  overflow-x: auto;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Force desktop layout on all screen sizes */
* {
  -webkit-text-size-adjust: 100%;
}

/* Truncate text to 2 lines */
.truncate-2-line {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
